:root {
    --primary-color: #2a3033;
    --secondary-color: #2E9AB3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    background-color: #dae8f2;
}

.banner {
    background-image: url("../images/gradienta-BgrRH1_ZI5Y-unsplash.jpg");
    display: flex;
    height: 250px;
    background-size: cover;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.banner img {
    margin-left: 40px;
}

header {
    padding: 20px 15px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0;
    flex-basis: 100%
    
    
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    display: flex;
    flex-grow: .25;
    flex-basis: 25;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 15px;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.75vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* border-bottom: 3px solid #73aec7; */
    

}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    text-shadow: none;
    border-bottom: 3px solid var(--secondary-color);
}


.infobox {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px 10px 10px 10px;
    margin: 0 50px 15px 15px; 
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    }  

.content {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    color: var(--primary-color);
}

.info-left {
    flex: 1 25%;
    font-size: x-large;
    align-items: flex-end;
    border-right: 3px solid var(--primary-color);
    padding: 5px 20px;
    text-align: right;
}

.info-right {
    flex: 2 75%;
    padding-left: 15px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    margin-right: auto;
    justify-content: space-evenly;
}

.bigbox {
    flex-basis: 96%;
    position: relative;
}

.bigimg {
    max-width: 100%;
    border: 5px solid var(--secondary-color);
}

.small-box {
    flex-basis: 47%;
    margin: 10px 0px;
    position: relative;
}

.small-box img {
    max-width: 100%;
    border: 5px solid var(--secondary-color);
}

.worktitle {
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 15px;
    padding: 5px 10px;
}



.contact-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: var(--primary-color);
    font-weight: bolder;
    height: 100%;
}

.uno {
    border-bottom: 2px solid var(--primary-color);
}

.uno p {
    font-size: 20px;
}


.contact-info a:visited {
    color: inherit;
}


.boxes a:visited {
    color: inherit;
}

@media screen and (max-width: 768px) {
    header h1 {
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 0;
        justify-content: center;
    }

    header nav {
        justify-content: space-evenly;
        flex-basis: 100%;
    }

    header nav ul {
        justify-content: space-evenly;
    }

    .banner img {
        margin-left: 5px;
    }

    .info-left {
        justify-content: center;
        text-align: center;
        border-right: none;
        flex-basis: 100%;
        margin: 0 auto;
    }

    .info-left h2 {
        border-bottom: 3px solid var(--primary-color);
    }

    .boxes {
        justify-content: center;
        margin: 25px auto;
        padding-bottom: 0;
        max-width: 90%;
    
    }

    .content {
        padding-bottom: 0;
        margin: 0 auto;
    }

    .info-right {
        padding-left: 0;
    }
    .info-right p {
        margin: 25px 0 25px 0;

    }

    .small-box {
        margin: 10px 5px;
    }


    header nav ul li a {
        font-size: 3vw;
    }

    .worktitle {
        max-height: 50%;
        padding: 5px;
        align-items: center;
        color: var(--primary-color);
    }


    .worktitle p {
        font-size: 0px;
    }
   
    .worktitle2 p {
        font-size: 15px;
        font-weight: bold;
        color: inherit;
    }


    .info-right p {
        margin: 10px 15px;
    }

    .uno {
        margin: 15px 0;
    }
    .uno p {
        font-size: 4vw;
        margin: 0 auto;
    }
}